@{
    ViewData["Title"] = "Home Page";
}

<div class="mx-auto">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="d-flex flex-column bd-highlight mb-3">
                <div class="p-2 bd-highlight">Flex item 1</div>
                <div class="p-2 bd-highlight">Flex item 2</div>
                <div class="p-2 bd-highlight">Flex item 3</div>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="d-flex flex-column bd-highlight mb-3">
                <div id="chat-messages-div" class="chat-messages px-4 py-2 mb-1">
                    <ul class="list-unstyled" id="chat-messages-list">
                        <!--
                        <li class="item-message mt-1 px-2">
                            <div class="d-flex flex-column">
                                <span><i class="fas fa-user-astronaut"></i> <b>XXyyaa</b> <i>says:</i> Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit.</span>
                                <span class="text-muted text-sm-right font-10px">2020-01-01 44:00:99</span>
                            </div>
                        </li>
                        <li class="item-message mt-1 px-2">
                            <div class="d-flex flex-column">
                                <span><i class="fas fa-user-astronaut"></i> <b>XXyyaa</b> <i>says:</i> Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit.</span>
                                <span class="text-muted text-sm-right font-10px">2020-01-01 44:00:99</span>
                            </div>
                        </li>
                        <li class="item-message mt-1 px-2">
                            <div class="d-flex flex-column">
                                <span><i class="fas fa-user-astronaut"></i> <b>XXyyaa</b> <i>says:</i> Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit.</span>
                                <span class="text-muted text-sm-right font-10px">2020-01-01 44:00:99</span>
                            </div>
                        </li>
                        -->
                    </ul>
                </div>
                <div>
                    <form id="formSendChat" autocomplete="off">
                        <div class="input-group">
                            <input type="hidden" name="userName" value="@ViewBag.UserName" />
                            <input type="text" class="form-control" id="message" name="message" placeholder="Write..." />
                            <div class="input-group-append">
                                <button class="btn btn-large btn-primary">
                                    <i class="fas fa-paper-plane"></i> Send
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
@section Scripts
{
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
}